<div class="contsBody">
	<h2>사용자 관리</h2>
	<div class="location">사용자 관리 > <strong>상세정보</strong></div>

	<div class="Btn">
		<span class="bbsBtn"><a href="list.html">목록</a></span>
		<span class="bbsBtn"><a href="modify.html">수정</a></span>
		<span class="bbsBtn"><a href="#">삭제</a></span>
	</div>

	<div class="bbsDetail">
		<table  summary="사용자관리 상세정보입니다.">
		<caption>사용자관리 상세정보</caption>
		<colgroup>
			<col style="width:20%" />
			<col style="width:auto" />
		</colgroup>
		<tbody>
		
		<!-- 기존 테이블 내용 입력 START -->
		<tr>
			<th><img src="/images/egovframework/bopr/blt4.gif" alt="중요표시" />사용자ID</th>
			<td>testtest</td>
		</tr>
		<tr>
			<th><img src="/images/egovframework/bopr/blt4.gif" alt="중요표시" />사용자명</th>
			<td>asdf</td>
		</tr>
		<tr>
			<th><img src="/images/egovframework/bopr/blt4.gif" alt="중요표시" />사용여부</th>
			<td>사용가능</td>
		</tr>
		<tr>
			<th>소속부서</th>
			<td>인사부</td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td>010-2593-8475</td>
		</tr>
		<tr>
			<th>주소</th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>ImageFile</th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>E-mail</th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>정보제공 동의 여부</th>
			<td>동의</td>
		</tr>
		<tr>
			<th>등록일자</th>
			<td>2012-09-04 10:40:39.0</td>
		</tr>
		<!-- 기존 테이블 내용 입력 END  -->
		
		</tbody>
		</table>
	</div>
</div>